html,
body {
  background: #000;
  height: 100%;
  width: 100%;
}

.text {
  -webkit-box-align: center;
          align-items: center;
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}
.text h1 {
  -webkit-animation: example 10s linear forwards;
          animation: example 10s linear forwards;
  font-family: "Arial", "Helvetica", "Sans Serif";
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes example {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@keyframes example {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}


.bgBox{
  width:100%;
  overflow:hidden;
}



.bgExample {
  width: 100vw;
  height: 100vh;
  background: #ccc url('https://upload.wikimedia.org/wikipedia/commons/5/5e/M104_ngc4594_sombrero_galaxy_hi-res.jpg') no-repeat center center;
  background-size: 100%;
  animation: grow infinite alternate ease-in-out 8s;
}

@keyframes grow {
  0% {
     transform: scale(1);
  }
  100% {
     transform: scale(3.5);
 
  }
}
