* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
/*   transition: all 1s; */
}

h1 {
/* font-family: Impact, Charcoal, sans-serif; */
letter-spacing: -0.1em;  
font-size: 5em;
margin: 0;
}

.title {
  position: fixed;
  height: 5em;
  width: 100%;
  top: 0;
    background-image: linear-gradient(rgba(0, 100, 255, .2) 7%, transparent 7%, transparent), linear-gradient(90deg, rgba(0, 100, 255, .2) 7%, transparent 7%, transparent);
  background-size: 1em 1em;
  background-color: white;
}
h2 {
  max-width: 500px;
/*   text-align: justify; */
}
.first-name {
  margin-left: 1em;
}
main {
/*   margin-top: 5em; */
  background-image: linear-gradient(rgba(0, 100, 255, .2) 7%, transparent 7%, transparent), linear-gradient(90deg, rgba(0, 100, 255, .2) 7%, transparent 7%, transparent);
  background-size: 1em 1em;
  background-attachment: fixed;
/*   width: 100%; */
/*   height: 200vh; */
  padding: 12em 0 0 5em;
}

.last-name {
  position: absolute;
  left: 4.5em;
  top: 1em;
  color: transparent;
     -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
  letter-spacing: -5px;
/*   transition: all 0.5s; */
}


.spacer {
  height: 5em;
}

section {
/*   width: 2em; */
max-width: 250px;
/*   text-align: justify; */
/*   font-family: Impact, Charcoal, sans-serif; */
/*   font-family: "Arial Black", Gadget, sans-serif; */
/*   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; */
  font-weight: 800;
  font-size: 18px;
  letter-spacing: -0.3px;
  display: inline-flex;
}