body {
  font-family: sans-serif;
  background: #3498DB;
  color: #FFF; 
} 

.code { 
  display: none;
  font-size: 28pt;
text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.button {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 50pt;
}

h2 {
  text-align: center;
  font-size: 30pt;
}